.sidebar {
    width: 170px;
    position: fixed;
    top: 70px;      /* below navbar */
    left: 0;
    width: 220px;
    height: calc(100vh - 70px);
    padding: 20px;
    border-right: 1px solid #ddd;
    background: white;
    overflow-y: auto;
}
/* Mobile */
@media (max-width: 768px) {

  .sidebar {
    width: 70px;
    padding: 10px;
  }

  .menu-item span {
    display: none;
  }

  .menu-item {
    justify-content: center;
    margin-bottom: 15px;
  }
}