.video-card {
  width: 300px;
  margin: 20px;
  cursor: pointer;
}

.video-card img {
  width: 100%;
  border-radius: 12px;
}

.video-card h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.video-card p {
  color: gray;
  margin: 4px 0;
}