.video-card {
  width: 320px;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

.thumbnail {
  width: 100%;
  border-radius: 10px;
}

.video-info h3 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.video-info p {
  color: #606060;
  font-size: 14px;
}